/Globe_High.png
/Suitcase_High.png
/Yacht_High.png
/chakib_belgaid.aux
/chakib_belgaid.fdb_latexmk
/chakib_belgaid.fls
/chakib_belgaid.log
/chakib_belgaid.out
/chakib_belgaid.synctex.gz
/main.tex
/nicethings_icons_readme.txt
/pubs-authoryear.tex
/pubs-num.tex
/sample.bib
/sample.synctex.gz